/* container */
.container {
    height: 100vh;
    background-color: var(--background_color);
    overflow: hidden;
    color: var(--primary_text_color);
}

.main {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* Self Into */

.intro {
    width: 60vw;
    height: 45vh;
    box-shadow: 2.5px 0px 7px var(--primary_text_color);
    border-radius: 25px;
    border: 1px solid var(--primary_text_color);
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-column-gap: 20px;
}

.left {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.title {
    display: flex;
    align-items: center;
    height: 10%;
}

.photo {
    position: relative;
    border-radius: 200px;
    overflow: hidden;
    height: 30vh;
    width: 30vh;
}

.content {
    display: flex;
    align-items: center;
}
